*{
    margin: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    background-color: rgb(65, 154, 189);
    height: 100px;
    background-image: url(pattern.png);
    background-size: contain;
}
#logo{
    position: absolute;
    bottom: 0px; left: 0px;
    height: 40px;
}