*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    background-color: rgb(65, 154, 189);
    height: 80px;
    background-image: url(pattern.png);
    background-size: contain;
}
h1{
    font-size: 40px;
}
#logo{
    position: absolute;
    bottom: 0px; left: 0px;
    height: 40px;
}
#booleaner{
    color: rgb(2, 190, 190);
}
.credits{
    color: rgba(0,0,0,0.5);
}

#author{
    font-size: 20px;
}
#date{
    font-size: 10px;
}
.photo{
    font-size: 8px;
}
.mark{
    background-color: yellow;
    color: black;
}
p{
    padding-bottom: 20px;
}
ul{
    padding-bottom: 20px;
    padding-left: 30px;
}
thead{
    text-align: left;
    background-color: rgb(17, 156, 180);
    color: white;
}
.column{
    width: 24%;
}
.row{
    background-color: lightblue;
}
#correlated{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 15px;
}
.container{
    position: relative;
}
.name{
    position: absolute;
    top: 2px;
    left: 2px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}
footer{
    padding-top: 20px;
}
.foot_img{
    width: 200px;
}